.large-image-card {
    &__root {
        overflow: hidden;
        background-color: $color-white;
        border-radius: 10px;
        width: 100%;
        max-height: 475px;
        max-width: 500px;
        box-shadow: $color-white-low-opacity 0px 40px 55px;

        display: flex;
        flex-wrap: wrap;
    }

    &__image-container {
        border-bottom: 1px solid $color-gray;
        width: 100%;
        max-height: 400px;

        &__img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &__gallery-container {
        width: 100%;
        padding: $half-padding;
        display: flex;
        justify-content: center;
        max-height: 75px;
    }

    &__image-button {
        width: 20%;
        margin: 0 $half-margin;
        padding: 0;
        background-color: $color-white;
        border: 1px solid $color-gray;
        border-radius: 10px;
        overflow: hidden;
        width: 60px;
        height: 60px;
        
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover, &:focus {
            cursor: pointer;
            border: 2px solid $color-gold;
        }
    }
}