.details {
    &__root {
        @include flexbox-wrap;
        justify-content: center;
        height: 65vh;
        margin-top: $default-margin;
    }

    &__back-btn-section {
        width: 100%;
        padding: $default-padding;
        margin-bottom: calc(2*$default-margin);

        &__link {
            background-color: $color-white;
            padding: $half-padding $default-padding;
            border: 2px solid $color-gold;
            border-radius: 5px;
            color: $color-gold;
            font-size: 1.2rem;
            font-family: $font-products;
            text-decoration: none;

            &:hover {
                animation: buttonHover 0.3s forwards;
            }
        }
    }

    &__card-container {
        width: calc(100% - 2*$default-padding);
        height: 90%;
        padding: $default-padding;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__description-container {
        position: relative;
        width: calc(100% - 2*$default-padding);
        height: 100%;
        padding: $default-padding;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

        &__name {
            width: 100%;
            font-size: 3rem;
            margin-bottom: $half-margin;
        }

        &__category {
            width: 100%;
            font-size: 1.5rem;
        }

        &__price {
            width: 100%;
            margin: $half-margin 0;
            font-size: 3rem;
        }

        &__summary {
            width: 100%;
            padding-bottom: $default-padding;
            border-bottom: 1px solid $color-gray;
            margin-bottom: 0;
            font-size: 1.25rem;
        }

        &__added-alert {
            animation: fadeIn 0.5s forwards;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }

    &__add-cart-btn {
        @include default-button;

        margin-top: calc(2*$default-margin);
        margin-bottom: $default-margin;
        font-size: 1.5rem;

        &:hover {
            animation: buttonHover 0.3s forwards;
        }
    }

    @media only screen and (min-width: $tablet-breakpoint)  {
        &__description-container {
            width: calc(50% - 2*$default-padding);
            text-align: left;
        }

        &__card-container {
            width: 40%;
        }

        &__card-container {
            height: 100%;
        }
    }
    
}