.cart {
    &__root {
        @include flexbox-wrap;

        padding: $default-padding;
        width: calc(100% - 2* $default-padding);
        height: 90vh;
        justify-content: center;
    }

    &__main-title {
        @include main-title;
    }

    &__table {
        width: 100%;
        height: 100%;
        max-width: 750px;
    }

    &__table-header {
        font-size: 2rem;
        text-align: left;
        
        & th {
            border-bottom: 3px solid $color-white;
        }
    }

    &__table-body {
        font-size: 1.5rem;
    }

    &__product-cell {
        @include flexbox-wrap;

        height: 100%;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid $color-white;
    }

    &__product-link {
        color: $color-white;
        text-decoration: none;
        margin-left: $half-margin;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    &__product-image {
        width: 60px;
        height: 60px;
        border-radius: 5px;
    }

    &__product-quantity {
        width: 100%;
    }

    &__btn-container {
        width: 100%;
        display: flex;
        justify-content: center;
        max-height: 75px;

        &__checkout-btn {
            @include default-button;
    
            width: 100%;
            text-decoration: none;
            font-size: 1.5rem;
            margin-bottom: $default-margin;
        }

    }


    @media only screen and (min-width: $tablet-breakpoint)  {
        &__product-quantity {
            width: 75%;
        }

        &__btn-container {
            &__checkout-btn {
                width: 50%;
            }
        }
    }

    @media only screen and (min-width: $desktop-breakpoint)  {

        &__btn-container {
            &__checkout-btn {
                width: 30%;
            }
        }
    }
}