.loader {
    &__root {
        background-color: transparent;
        padding: $default-padding;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__span {
        width : 50px;
        height: 50px;
        border: 5px solid $color-white;
        border-bottom-color: $color-gold;
        border-radius: 50%;
        display: inline-block;
        animation: rotation 1s linear infinite;
    }
}