.filter-button {
    &__root {
        text-align: center;
    }

    &__button {
        width: calc(100% - 4px - 2*$default-padding);
        background-color: $color-white;
        font-family: $font-default;
        color: $color-gold;
        font-size: 2rem;
        border: 2px solid $color-gold;
        border-radius: 5px;
        font-weight: 900;
        padding: $half-padding $default-padding;
        margin: $half-margin 0;
        transition: all ease-in-out;
        
        &--active {
            background-color: $color-gold;
            color: $color-white;
        }

        &:hover {
            cursor: pointer;
        }
    }
}