.products {
    &__main-title {
        @include main-title;
    }

    &__filter-list {
        display: flex;
        flex-wrap: wrap;
        padding: $default-padding;

        &__title {
            width: 100%;
            margin-bottom: $default-margin;
            font-size: 2rem;
        }

        & .filter-button__root {
            width: 100%;
        }

        @media only screen and (min-width: $tablet-breakpoint)  {
            & .filter-button__root {
                width: 50%;
            }
        }

        @media only screen and (min-width: $desktop-breakpoint)  {
            & .filter-button__root {
                width: 25%;
            }
        }

    }
}