.quantity-input {
    &__root {
        width: 100%;
        display: flex;
        justify-content: center;
        max-height: 40px;
        max-width: 375px;
    }
    
    &__label {
        margin-right: $default-margin;
        font-size: 1.5rem;
    }

    &__button {
        @include default-button;

        width: 12.5%;
        min-width: 35px;
    }

    &__input {
        width: 10%;
        min-width: 45px;
        font-size: 1.25rem;
        border-top: 2px solid $color-gold;
        border-bottom: 2px solid $color-gold;
        padding-left: 5%;
    }

    @media only screen and (min-width: $tablet-breakpoint)  {
        &__root {
            justify-content: flex-start;
        }
    }

    @media only screen and (min-width: $desktop-breakpoint)  {
        &__button {
            width: 7.5%;
        }

        &__input {
            width: 7.5%;
        }
    }
}