.hero {
    &__root {

    }

    &__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: calc(2*$default-margin);

        max-height: 350px;
        
        & svg {
            height: 100%;
            width: 100%;
        }
    }

    &__main-title {
        font-family: $font-cursive;
        font-size: 4.5rem;
        text-align: center;
        width: 100%;
    }

    &__sub-section {
        @include flexbox-wrap;

        padding: $default-padding;
        text-align: center;
        justify-content: center;

        &__title {
            font-size: 2.5rem;
            width: 100%;
        }

        &__description {
            font-size: 1.25rem;
            width: 100%;
        }

        &__list {
            padding: 0;
            width: 100%;
            max-width: 250px;
            min-width: 225px;
        }

        &__list-item {
            font-size: 1.25rem;
            padding: $half-padding 0;
            
            &::marker {
                content: ("👑");
            }
        }
    }

    &__quote {
        width: 100%;
        text-align: center;
        font-family: $font-cursive;
        font-size: 3rem;
        position: absolute;
        left: 0;
        top: 35%;
        
    }

    @media only screen and (min-width: $tablet-breakpoint)  {
        &__main-title {
            font-size: 6rem;     
        }
    }

    @media only screen and (min-width: $desktop-breakpoint)  {
        &__main-title {
            font-size: 6rem;     
        }
    }
}