.bg-image-cont {
    &__root {
        @include flexbox-wrap;

        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    & * {
        background-color: transparent;
    }
}