.products-row {
    &__root {
        padding: $default-padding $half-padding;
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        width: 100%;
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: $default-margin;
    }

    &__row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & .product-card__root {
            width: calc(100% - 2*$default-padding - 2*$half-margin);
        }

        @media only screen and (min-width: $tablet-breakpoint)  {
            & .product-card__root {
                width: calc(50% - 2*$default-padding - 2*$half-margin);
            }
        }

        @media only screen and (min-width: $desktop-breakpoint)  {
            & .product-card__root {
                width: calc(25% - 2*$default-padding - 2*$half-margin);
            }
        }
    }
}