.product-card {
    &__root {
        @include flexbox-wrap;

        justify-content: center;
        padding: $default-padding;
        margin: $half-margin;
        background-color: $color-white;
        max-height: 400px;
        border-radius: 5px;
        box-shadow: $color-white-mid-opacity 0px 5px 25px;
        text-align: center;
    }

    &__name {
        width: 100%;
        color: $color-black; 
        font-size: 1.75rem;
    }

    &__category {
        width: 100%;
        color: $color-gray;
        
        font-size: 1.1rem;
    }
    
    &__image {
        object-fit: cover;
        height: 150px;
        width: 295px;
    }
    
    &__summary {
        width: 100%;
        color: $color-black;
        min-height: 60px;
        margin: $default-margin 0;
        font-size: 1.1rem;
    }

    &__price {
        color: $color-black;
        font-size: 1.5rem;
        width: 50%;
        height: 100%;
        max-height: 50px;
        font-family: $font-products;
        text-align: left;
        margin-top: $half-margin;
    }
}