.alert-container {
    &__root {
        border-radius: 1rem;
        margin: $default-margin;
        padding: $half-padding;
        width: calc(100% - 2*$default-margin - 2*$half-padding);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        &--waiting {
            border: 2px solid $color-dark-yellow;
            background-color: $color-light-yellow;
        }

        &--error {
            border: 2px solid $color-dark-red;
            background-color: $color-light-red;
        }

        &--success {
            border: 2px solid $color-dark-green;
            background-color: $color-light-green;
        }
    }
}