.ham-btn {
    &__root {
        height: 100%;
        width: 100%;
        max-width: 56px;
        z-index: 50;
    }

    &__button {
        height: 100%;
        width: 100%;
        background-color: $color-black;
        border: 2px solid $color-white;
        border-radius: $default-border-radius;

        & svg {
            width: 100%;
            height: 100%;
        }

        & #hamLines {
            opacity: 1;
        }

        & #hamX {
            opacity: 0;
        }

    }

    &__menu {
        background-color: $color-white;
        z-index: 50;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 4.5rem;
        left: 0;
    }

    &__list {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    &__list-item {
        width: 100%;
        text-align: center;
        padding: 1.5rem 0;

        &:hover {
            background-color: $color-lightgray;
        }

        &::marker {
            content: ('');
        }
    }

    &__link {
        width: 100%;
        font-size: 2rem;
        color: $color-black;
        text-decoration: none;

        &--active {
            text-decoration: underline;
        }
    }

    &--visible {
        animation: fadeIn 0.25s forwards;
    }

    &--not-visible {
        animation: fadeOut 0.25s forwards;
    }

}