.checkout {
    &__root {
        @include flexbox-wrap;

        padding: $default-padding;
        width: calc(100% - 2* $default-padding);
        height: 50vh;
        justify-content: center;
    }

    &__main-title {
        @include main-title;
    }

    &__table {
        width: 100%;
        height: 100%;
        max-width: 750px;
    }

    &__table-header {
        font-size: 2rem;
        text-align: left;
        
        & th {
            border-bottom: 3px solid $color-white;
        }
    }

    &__table-body {
        font-size: 1.25rem;

        &__subtotal-row td {
            border-top: 1px solid $color-white;
        }

        &__total-row {
            font-size: 2rem;
        }
    }

    &__btn-container {
        width: 100%;
        display: flex;
        justify-content: center;
        max-height: 75px;
        margin-top: $default-margin;
        
        &__confirm-btn {
            @include default-button;
    
            width: 100%;
            text-decoration: none;
            font-size: 1.5rem;
            margin-bottom: $default-margin;
        }

    }

    @media only screen and (min-width: $tablet-breakpoint)  {

        &__btn-container {
            &__confirm-btn {
                width: 50%;
            }
        }
    }

    @media only screen and (min-width: $desktop-breakpoint)  {

        &__btn-container {
            &__confirm-btn {
                width: 30%;
            }
        }
    }
}