.navbar {
    &__root {
        position: fixed;
        width: calc(100% - 2*$half-padding);
        padding: $half-padding;
        display: flex;
        height: 3.5rem;
        border-bottom: 1px solid $color-white;
        background-color: $color-black;
        z-index: 100;
    }

    &__logo-section {
        height: 100%;
        width: 50%;

        &__link {      
            height: 100%;

            & svg {
                height: 100%;
                width: 100%;
                max-width: 100px;
                max-height: 100px;

                & .shiningStar {
                    display: none;
                }
            }

            &:hover .shiningStar {
                display: initial;
            }

        }
    }

    &__ham-btn-section {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    &__links-section {
        height: 100%;
        width: 33.3%;
        display: flex;
        justify-content: center;

        &__list {
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__list-item {
            
            &::marker {
                content: ('');
            }
        }

        &__link {
            color: $color-white;
            text-decoration: none;
            font-size: 1.5rem;
            padding: 1.30rem;

            &--active {
                box-shadow: $color-gold 0 -10px 0 0 inset;
            }
        }
    }

    &__cart-section {
        height: 100%;
        width: 33.3%;
        display: flex;
        justify-content: flex-end;

        &__link {
            height: 100%;

            & svg {
                height: 100%;
                width: 100%;
                max-width: 100px;
                max-height: 100px;
            }
        }

        &__amount {
            position: absolute;
            right: 1.75rem;
            top: 1rem;

            font-size: 1.5rem;

            text-decoration: none;
            color: $color-black;
        }
    }

    @media only screen and (min-width: $tablet-breakpoint)  {
        &__logo-section {
            width: 33.3%;      
        }
    }
}