/*---------------COLOR PALETTE----------------*/
$color-black: #000000;
$color-gray: #676767;
$color-gold: #966814;
$color-lightgray: #DEE2E6;
$color-white: #FFFFFF;
$color-white-low-opacity: rgb(255, 255, 255, 0.25);
$color-white-mid-opacity: rgb(255, 255, 255, 0.5);

/*---------------ALERTS----------------*/
$color-dark-red: #780000;
$color-dark-green: #187800;
$color-dark-yellow: #785800;
$color-light-red: #D16F6F;
$color-light-green: #5f9752;
$color-light-yellow: #a18f53;