@mixin default-button {
    background-color: $color-white;
    font-family: $font-products;
    color: $color-gold;
    padding: $half-padding;
    border-radius: 5px;
    border: 2px solid $color-gold;
    text-align: center;

    & svg {
        width: 100%;
        height: 100%;
        fill: $color-gold;
        transition: all ease;   
    }

    &:hover, &:focus {
        animation: buttonHover 0.3s forwards;
        cursor: pointer;
        color: $color-white;
    
        & svg {
            fill: $color-white;
        }            
    }
}