body {
    margin: 0;
    background-color: $color-black;
    color: $color-white;
    font-family: $font-default;
    font-weight: 900;
}

main {
    padding: 0;
    padding-top: 4.5rem;
}

h1, h2, h3, h4, h5 , h6 {
    margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}